@{
    ViewData["Title"] = "The Online Bookstore";
}

@model BooksViewModel

@foreach (Book x in Model.Books)
{

    <partial name="BookSummary" model="x" />

}

<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark bg-white text-black"
     page-class-selected="btn-primary" class="btn-group pull-right m-1" style="position: fixed; bottom: 0;"></div>

